# URL de conexão com o banco de dados PostgreSQL (ex: local, Neon, Docker, etc.)
DATABASE_URL="postgresql://usuario:senha@localhost:5432/geoclass?schema=public"

# Chave secreta para criptografia e geração de tokens JWT
JWT_SECRET="sua_chave_secreta_jwt_para_seguranca"

